@font-face {
    font-family: Diatype;
    src: url(typefaces/ABCDiatypeVariable-Trial.ttf);
}

@font-face {
    font-family: DiatypeItalic;
    src: url(typefaces/ABCDiatype-RegularItalic-Trial.otf);
}

@font-face {
    font-family: DiatypeMono;
    src: url(typefaces/ABCDiatypeMonoVariable-Trial.ttf);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: ghostwhite;
}

.heading {
    position: absolute;
    top: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.heading div {
    position: relative;
    font-family: "DiatypeMono";
    font-size: 5vw;
    width: 10vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
    transition: 2s;
}

.heading div:hover {
    cursor: pointer;
}


.container {
    width: 90vw;
    height: calc(100vh - 10vw);
    margin: 5vw 5vw;
}

.img-box {
    height: fit-content;
    position: absolute;
    padding: 5px;
    border-radius: 2px;
}

img {
    width: 5vw;
    opacity: 0;
    transition: 2s;
    padding-top: 4px;
    border-radius: 50px;
}

.img-box p {
    font-family: "Diatype";
    font-size: 0.45vw;
    line-height: 0.72vw;
    opacity: 0;
}

.img-box span {
    font-family: "DiatypeItalic";
}

.img-box:hover {
    /* background-color: transparent; */
    transition: 0.8s;
    transform: scale(1.9);
    border-radius: 100px;
}

.img-box img:hover {
    opacity: 1;
}

.img-box p,
.img-box img {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.number p {
    font-size: 1vw;
    opacity: 1;
    padding: 5px 3px;
}
